<?xml version="1.0"?>
<config>

    <tabs>
        <Firebear translate="label">
            <label>Firebear</label>
            <sort_order>220</sort_order>
        </Firebear>
    </tabs>

    <sections>
        <improvedrobots translate="label" module="improvedrobots">
            <label>Improved Robots</label>
            <tab>Firebear</tab>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <sort_order>1000</sort_order>
            <groups>
                
                <apioptions translate="label">
                    <label>Improved Robots</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>2</sort_order>
                    <fields>                        
			            <check translate="label">
			                <label></label>
			                <frontend_type>button</frontend_type>
			                <frontend_model>improvedrobots/adminhtml_system_config_form_button</frontend_model>
			                <sort_order>40</sort_order>
			                <show_in_default>1</show_in_default>
			                <show_in_website>1</show_in_website>
			                <show_in_store></show_in_store>
			                <comment><![CDATA[Here is you can review and edit your robots.txt file. Please check comments with ## for make specific changes for you store, example add sitempa URL etc.]]></comment>
			            </check>

                    </fields>
                </apioptions>
            </groups>
        </improvedrobots>
    </sections>
</config>